* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  padding: 0 60px;
}
header > h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0px;
}

#inputField {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

#inputField > * {
  padding: 10px;
  border: 2px solid black;
  font-size: 24px;
  font-weight: 400;
  flex-grow: 1;
}
#taskName {
  width: 30%;
  min-width: min(280px, 100%);
}
#date {
  width: 25%;
  min-width: min(200px, 100%);
}
#priority {
  width: 25%;
  min-width: min(135px, 100%);
}
#submit {
  width: 15%;
  min-width: min(125px, 100%);
  background-color: black;
  color: white;
}
section > h2 {
  margin-block: 40px;
  font-size: 32px;
}

.todoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-block: 10px;
}
.notCompleted {
  background-color: black;
}

.todo > img {
  cursor: pointer;
}

.completed {
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}
